<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Weekend Chal 5</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/client.min.js"></script>

</head>

<body>

    <div class="row">
        <div class="col-md-12" style="text-align:center;">
            <h1>Weekend Challegen 5 - OMDB API</h1>
        </div>
    </div>

    <div ng-controller="OneController">
    </div>


    <div ng-controller="TwoController">

    </div>


</body>

</html>
