<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Weekend Chal 5</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <!-- <script type="text/javascript" src="scripts/client.min.js"></script> -->
    <script type="text/javascript" src="scripts/client.js"></script>

</head>

<body>

    <div class="row">
        <div class="col-md-12" style="text-align:center; padding: 20px;">
            <h1>Movie Search and Save</h1>
        </div>
    </div>


  <div class="row">

    <div class="col-md-12" ng-controller="OneController" style="text-align:center;">
      <input type="text" ng-model="movie.title" placeholder="Title">
      <!-- <input type="text" ng-model="movie.year" placeholder="Year">
      <input type="text" ng-model="movie.cast" placeholder="Cast">
      <input type="text" ng-model="movie.genre" placeholder="Genre"> -->
      <button type="submit" ng-click="searchMovie()" class="btn glyphicon glyphicon-search" aria-hidden="true"></button>


    </div>



  </div>


  <div class="row">
    <div class="col-md-12" ng-controller="TwoController">
      <div class="showMovies">
        <p>{{searchResult.response.Title}}</p>
        <p>{{searchResult.response.Year}}</p>
        <p>{{searchResult.response.Actors}}</p>
        <p>{{searchResult.response.Directors}}</p>
        <p>{{searchResult.response.Runtime}}</p>
        <p>{{searchResult.response.Plot}}</p>
        <button type="submit" class="btn glyphicon glyphicon-heart" aria-hidden="true"></button>
      </div>


    </div>
  </div>


    <!-- display: title, release year, cast, plot, runtime -->



</body>

</html>
