<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>Weekend Chal 5</title>

    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="styles/style.css" />

    <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
    <!-- <script type="text/javascript" src="scripts/client.min.js"></script> -->
    <script type="text/javascript" src="scripts/client.js"></script>

</head>

<body>



    <div class="row">
        <div class="col-md-12" style="text-align:center; padding: 20px; background-color: #39393e ; color: white;">
            <h1>Movie Library</h1>
        </div>
    </div>


    <div class="row">
        <div>
            <div class="col-md-6" ng-controller="SearchController" style="background-color: #e1e3e1; padding: 16px; text-align:center;">
              <form class="form-inline" ng-submit="searchMovie()" method="post">
                <div> Search Movie <input type="text" ng-model="movie.title" class="form-control"  placeholder="Title">
                <button type="submit" class="btn btn-primary glyphicon glyphicon-search" aria-hidden="true"></button> </div>
              </form>
            </div>

        </div>

        <div>
            <div class="col-md-6" style="background-color: #2d5c99; padding: 5px; text-align:center;">
                <div>
                    <h3 style="color: #f1f1f1">Favorites</h3>
                </div>
            </div>
        </div>
    </div>

<!-- - -->
    <div class="row">
        <div>
            <div class="col-md-6" ng-controller="OutputController">
                <div>
                    <div>
                    <h2>{{searchResult.response.Title}}</h2>
                    <p>{{searchResult.response.Year}} {{searchResult.response.Runtime}}</p>
                    <p>{{searchResult.response.Actors}}</p>
                    <p>{{searchResult.response.Plot}}</p>
                    <button type="button" ng-click="saveFavMovie()" class="btn-default btn glyphicon glyphicon-heart" aria-hidden="true" style="position:absolute; right:0; color:red;"></button>
                  </div>
                </div>
            </div>



        </div>

        <div>
            <div class="col-md-6" ng-controller="FavoritesController">
              <div ng-repeat="movies in favorites.favMovie">
                <div>
                  <h2>{{movies.title}} </h2>
                  <button type="button" ng-click="deleteMovie()" class="btn-default btn glyphicon glyphicon-trash" aria-hidden="true" style="position:absolute; right:0; color:black"></button>
                </div>
                  <p>{{movies.year}} {{movies.runtime}}</p>
                  <p style="color:grey;">{{movies.actors}}</p>
                  <p>{{movies.plot}}</p>
              </div>
            </div>
        </div>
    </div>




    </div>
</body>

</html>
